body{
margin:0px;
}
.div1{
  position:static;
  border:orange 2px solid;
  background:#66B366;
  top:0%;
  width:30%;
  left:0%;
  margin:10px;
  padding:5px 200px 40px 5px;
color:white;
}


.div2{
  position:absolute;
  z-index:1;
  background-color: rgba(113,113,236,0.3);
  padding:3px 30px 95px;
  top:5%;
  left:25%;
  color:yellow;
  border: grey 2px solid;
}
.div3{
  border:red 2px solid;
  position:absolute;
  background-color: rgba(102,112,117,0.9);
  top:0%;
  left:38%;
  padding: 5px 5px 13px 75px;
  color:black;
}
.div4{
  position:relative;
  background:#66B366;
  border:orange 2px solid;
  margin-left: 10px;
  width:30%;
  left:0%;
  padding:5px 200px 40px 5px;
  color:white;
}
.div5{
  border:2px solid brown;
  background-color: rgba(235,121,128,0.7);
  color:black;
  position:relative;
  top:-20%;
  left:36%;
  width:20%;
  padding:5px 0px 5px 8px;
  z-index:2;
}
.div6{
  background:#AED1C2 ;
  float:right;
  height:93%;
  position:absolute;
  top:0;
  right:0;
  bottom:7%;
}
.div7{
  position:fixed;
  bottom:0;
left:0;
right:0;
  background:#DDDDDD;

}
