body{
margin:0;
background-size:100% 100%;
}
.main{
  width:100%;
  height:100%;
}
.header > p{
margin:0;
padding-top:5px;
}
.header{
background-color:#0275D8;
color:white;
text-align:center;
height:5%;
}
.menu{
  color:#563D7C;
height:6%;
margin-left:90px;
position:relative;
}
p, .sub-menu{
display:inline-block;
}
.menu > p{
font-weight:bold;
}
.sub-left, .sub-right{
display:inline-block;
padding:0 113px 0 0;
}
li{
  padding-right:25px;
display:inline-block;
}
.sub-right{
  position:absolute;
  top:0;
  right:2%;
}
.sub-left{
position:absolute;
top:0;
left:05%;
}
.B{
background-color:#5C4282;
color:#fff;
text-align:center;
position:relative;
height:60%;
}
.logo{
border:1.5px solid #BFAFD7;
position:absolute;
top:6%;
left:45%;
width:100px;
height:100px;
border-radius:25px;
text-align:center;
margin:20px;
}
.logo > p{
font-size:40px;
font-weight:bold;
}
.menu > p{
width:20%;
}
.logo + p, .logo + p + p {
font-size:20px;
}
.download{
border:1.5px solid #BFAFD7;
font-size:18px;
border-radius:25px;
position:absolute;
left:40%;
top:60%;
width:300px;
height:60px;
text-align:center;
}
.download + p {
color:#9581B8;
font-size:14px;
}
.footer{
text-align:center;
}
