@font-face {
    font-family: 'open_sansbold_italic';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0px 350px 0px 350px;
}

h1{
  font-size:50px;
}
#open{
padding-top:20px;
}
hr{
  padding-up:0px;
  border-top:2px dotted;
}

#mad{
    font-family:'open_sansbold_italic';
}
#cad{
    border-left:solid black;
 margin-left:10px;
padding-left:10px;
font-size:12px; }


