body{
  margin:20px 0 0 40px;
  background-color:#F2F6FA;
}
.line1, li{
text-transform:uppercase;
}
.lr{
height:50%;
}
.left, .right{
display:inline-block;
width:37%;
top:15%;
}
li{
padding:40px 0 0px 0px;
}

 ul
{
    list-style-type: none;}

.left{
  position:absolute;
  left:7%;
}

.right{
  position:absolute;
  left:50%;
}
li{
border-left:2px solid #CDCDCD;
}
 .fa, .text{
margin:20px 0;
padding-left:8px;
}
.line{
  display:inline-block;
border-bottom:2px solid #CDCDCD;
width:10%;

}
li:last-child {
  height:33px;
}
.fa, .fa-check, .green
{
color:green;
}
 .grey
{
color:grey;
}
