.orange{
background-color:orange;
}
.inline{
  background:blue;
  display: inline;
  color:white;
}
.block-main{

}
.block{
background:green;
display: inline-block;
width:750px;
color:white;
}
.block.two{
}
.block, .inline {
}
